/*******************************************************************************
Copyright © 2021 Ennio Marke

Notes:
  Colors:
    1 : #121212 (Rich Black ROGRA 39)
    2 : #181818 (Eerie Black (Background))
    3 : #282828 (Eerie Black)
    4 : #88C999  (Eton Blue (Mint))
*******************************************************************************/

html {
    background-color: #000;
    overflow: hidden;
}

.center {
width:100%;
min-height:75vh;
margin-top:50px;

/* This is what centers it */
display: flex;
justify-content: center;
align-items: center;
}

h1 {
    font-size: 30vmin;
}

text, h1, h2, h3, h4, h5 , h6, p, span {
    color: #fff;
}